---
title: Resource Management by Smartsheet API

language_tabs:

toc_footers:

# List the includes in the order you want them to appear
# on the page
includes:
  - first-things-first
  - getting-help
  - api-token-management
  - approvals
  - assignables
  - assignments
  - bill-rates
  - budget-item-categories
  - budget-items
  - custom-fields
  - disciplines
  - expense-items
  - holidays
  - leave-types
  - phases
  - placeholders
  - project-tags
  - project-membership
  - project-users
  - projects
  - reports
  - roles
  - status-options
  - subtasks
  - time-entries
  - user-availabilities
  - user-statuses
  - user-tags
  - users
  - webhooks
  - zapier-integration

search: false
---

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KW34LR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KW34LR');</script>
<!-- End Google Tag Manager -->

# <span class="customTOCSectionHeading">Resource Management by Smartsheet API (Pro, Enterprise, and Business plans)</span>

<aside class="notice">Last updated: 11/02/2022</aside>

The Resource Management by Smartsheet API provides programmatic access to projects, users and time entries in your account, commonly referred to as _resources_ in the rest of this API documentation. The API implements a standard HTTP REST pattern and allows callers with appropriate authentication and authorization to programmatically create, read, update and delete these resources.

API access is available on Pro, Enterprise and Business plans of Resource Management by Smartsheet. As of June 2019, all new plans purchased are Business, and include API access. For customers prior to this date, API access is based on your current plan.

# Overview

* [General information](#before-starting-to-use-the-Resource Management by Smartsheet-api) (read first)
  * [Collections & Objects](#collections-&-objects)
  * [Pagination](#pagination)
  * [Authentication](#authentication)
  * [Optional Fields](#optional-fields)
  * [Date/Time Formatting](#date-&-time-formatting)
  * [Error Handling](#error-handling)
  * [Throttling/Rate-limiting](#throttling-&-rate-limiting)

# Need help?

* Contact us via our [Support Page](https://help.smartsheet.com/contact/resource-management)
  * Read more on how to report a problem [here](#getting-help-&-reporting-problems).
* Have a suggestion for improving our API documentation? Send us a [pull-request](https://github.com/10Kft/10kft-api) or email support.

# Endpoints

The API provides access to the following data collections in your account via RESTful endpoints.

* [Users](#users)
    * [User Tags](#tags-per-user)
    * [Availabilities](#availabilities)
* [Placeholder Resources](#placeholder-resources)
* [Assignables](#assignables)
    * [Projects](#projects)
        * [Users by Project](#users-per-project)
        * [Project Tags](#tags-per-project)
        * [Phases](#phases)
    * [Leave Types](#leave-types)
* [Custom Fields](#custom-fields)
* [Project Budgets](#project-budgets)
* [Assignments](#assignments)
* [Subtasks](#subtasks)
* [Time Entries](#time-entries)
* [Expense Etems](#expense-items)
* [Bill Rates](#bill-rates)
* [Statuses](#user-status) (_deprecated_)
* [Time & Expense Approvals](#approvals)
* [Holidays](#holidays)
* [Reports](#reports-api)
* [Status Options](#status-options)
* [API Token Management](#api-token-management)


# Webhook Support

The Resource Management by Smartsheet API supports webhooks for certain events. See [the webhooks section](#webhooks) for details.

# Zapier Integration

Our Zapier integration helps you integrating with the Resource Management by Smartsheet API in convenient and powerful ways and connect many other apps and services used by yor team.

* [Resource Management by Smartsheet on Zapier](https://zapier.com/apps/10000ft/integrations)
* [Getting started with Zapier](#zapier-integration)

# Third party libraries

A few of our customers have implemented and shared API client libraries to help using the Resource Management by Smartsheet API easier. Depending on your scenario, you may benefit from adopting and improving on them. Here are a couple of references,

* Revelry Labs / `ruby` / [https://github.com/revelrylabs/tenk](https://github.com/revelrylabs/tenk)
* Spindance / `ruby` / [https://github.com/spindance/ten_thousand_feet](https://github.com/spindance/ten_thousand_feet)

# Questions?

Questions or feedback about our API, please submit a support ticket at our [Support Page](https://help.smartsheet.com/contact/resource-management)

<h1 id="configuration"><span class="customTOCSectionHeading">Sections</span></h1>
